{% extends 'base.html' %}

{% block title %} 
  New Employee 
{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{% url 'index' %}">Home</a>
</li>
<li class="breadcrumb-item">
  Employee Form
</li>

{% endblock %} {% block content %}
<form method="post" novalidate>
  {% csrf_token %} 
  
{% if form.errors %}
<div class="alert alert-danger">
  {% for error in form.errors %}
 <p>{{ error }}</p>
  {% endfor %}
  </div>
{% endif %}

  <div class="form-group">
    <label for="firstname" class="form-label">First Name</label>
    <input type="text" class="form-control" name="firstname" id="firstname" value="{{ employee.firstname }}">
  </div>
  <div class="form-group">
    <label for="lastname" class="form-label">Last Name</label>
    <input type="text" class="form-control" name="lastname" id="lastname" value="{{ employee.lastname }}">
  </div>
  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="email" value="{{ employee.email }}">
  </div>
  <div class="form-group">
    <label for="phone" class="form-label">Phone</label>
    <input type="tel" class="form-control" name="phone" id="phone"  value="{{ employee.phone }}">
  </div>
  <div class="form-group">
    <label for="position" class="form-label">Position</label>
    <input type="text" class="form-control" name="position" id="position" value="{{ employee.position }}">
  </div>
  <div class="form-group">
    <label for="hire_date" class="form-label">Hire Date</label>
    <input type="text" class="form-control" name="hire_date" id="hire_date" value="{{ employee.hire_date }}">
  </div>
  <div class="form-group">
    <label for="salary" class="form-label">Salary</label>
    <input type="number" class="form-control" name="salary" id="salary" value="{{ employee.salary }}" >
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}
